@import "~bootstrap/scss/functions"

/** Variables **/
/* Set the height of the Site Logo & Title */
$logo-height: 120px

/* Colors */
$dark-green: #158312
$dark-brown: #4a2604
$light-pale-tan: #EADBC8
$pale-tan: #E0C39F
$pale-tan-accent: lighten($pale-tan, 18%)
$orange-yellow: #FFCC44
$brown: #A32E2E

/* Theme Colors */
$blue: #245B9F
$green: $dark-green
$yellow: darken(#FFCC44, 5%)
$red: #C20000

/* Bootstrap Overrides */

$body-bg: lighten($light-pale-tan, 14.5%)
$body-color: $dark-brown
$link-color: $dark-green

$container-max-widths: ( sm: 570px, md: 762px, lg: 995px, xl: 1180px)

$navbar-padding-y: 2px
$navbar-padding-x: 10px

$navbar-light-color: lighten($light-pale-tan, 10%)
$navbar-light-active-color: white
$navbar-light-active-bg: darken($dark-green, 7.5%)
$navbar-light-hover-color: $orange-yellow
$navbar-light-hover-bg: $dark-green
$navbar-light-toggler-border-color: $light-pale-tan
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$light-pale-tan}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

$table-bg: lighten($light-pale-tan, 12.5%)
$table-accent-bg: $pale-tan-accent

$input-color: #333

$hr-border: #C0C0C0

@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/bootstrap"

/** Fonts **/
@font-face
  font-family: 'Poor Richard'
  font-style: normal
  font-weight: 400
  src: local('Poor Richard'), url('./static/fonts/PoorRichard.ttf') format('truetype')

/* Set the Site Title to the stylized serif font */
div#site-title h1.media-heading
  font-family: 'Poor Richard', 'Glass Antiqua', Helvetica, Arial, sans-serif
  font-weight: normal

/* Set Header & Nav text to a Serif font */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #category-navbar, legend, .nav-pills
  font-family: 'Crimson Text', Georgia, serif
  font-weight: 600


/** Site Layout **/
/* Set our background image */
body
  background-color: $body-color
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('./static/img/sese_background.jpg')
  background-attachment: fixed
  background-size: contain

/* Set the background color of the body content */
body > div#main > div > div.container
  background: $body-bg

/* Set logo height & spacing */
#site-logo
  height: $logo-height - 10px
  margin-top: 5px
  margin-bottom: 5px

/* Don't color or decorate the site title link */
#site-title a, #site-title a:hover
  color: $body-color
  text-decoration: none


#navigation
  /* Decrease Spacing & Close Gap Below Navbar */
  padding-bottom: 10px
  /* Round the Corners of the Navbar */
  nav
    border-radius: 4px
  /* Color the mobile navbar buttons */
  .navbar-toggler
    color: $light-pale-tan
  #category-navbar
    font-size: 1.3rem
    &, .dropdown-menu
      /* De-emphasize */
      font-weight: normal
    /* Space Out Navbar Links */
    .nav-link
      padding: 0.75rem 1rem
    /* Darken the Background of Active Nav Items */
    .active
      background-color: $navbar-light-active-bg
    .dropdown-menu
      /* Increase font size */
      font-size: 1.2rem
      /* Remove corner rounding from top corners */
      border-top-left-radius: 0
      border-top-right-radius: 0

      /* Highlight a hovered or clicked item */
      a:hover, a:active
        color: white
        background-color: $navbar-light-hover-bg
      /* Highlight an active item */
      a.active
        color: black
        background-color: $pale-tan-accent

  /* Properly space multi-column Nav dropdown menus */
  .multi-column-dropdown
    min-width: 650px
    .dropdown-item
      padding: 0.25rem 1.5rem
      width: auto
  /* Hide search menu on non-mobile screens */
  #search-navbar
    +media-breakpoint-up(md)
      display: none !important

#sidebar
  .nav-pills
    font-size: 1.1em
  .icon-legend
    a
      img
        height: 1.25rem
      &, &:hover, &:active
        /* Don't differentiate the active & hover states from the normal state */
        color: $body-color
        text-decoration: none
      &:hover, &:active
        /* Color the backgorund on hover instead */
        background-color: $pale-tan-accent

/* The entire footer background should match the color of the table stripes */
#footer
  padding: 0
  footer
    padding: 0 15px
    background-color:  $light-pale-tan


.product-details
  /* Don't color the Category links */
  .product-category h3 a
      &, &:hover, &:active
        color: $body-color

.category-products
  /* Don't color the Product links */
  a
    &, &:hover, &:active
      color: $body-color
  /* Reduce height of attribute icons */
  h3 img
    height: 1.25rem
  /* Restrict width of product image column */
  .category-product-image img
    max-width: 100px

.advanced-search
  .filters
    img
      height: 1.2em
      margin-right: 0.25rem
      margin-bottom: 0.2rem
