@import "~bootstrap/scss/functions"

/** Variables **/
/* Set the height of the Site Logo & Title */
$logo-height: 120px

/* Colors */
$dark-green: #158312
$dark-brown: #4a2604
$light-pale-tan: #EADBC8
$pale-tan: #E0C39F
$pale-tan-accent: lighten($pale-tan, 18%)
$orange-yellow: #FFCC44
$brown: #A32E2E

/* Theme Colors */
$blue: #245B9F
$green: $dark-green
$yellow: darken(#FFCC44, 5%)
$red: #C20000

/* Bootstrap Overrides */

$body-bg: lighten($light-pale-tan, 14.5%)
$body-color: $dark-brown
$link-color: $dark-green

$container-max-widths: ( sm: 570px, md: 762px, lg: 995px, xl: 1180px)

$navbar-padding-y: 2px
$navbar-padding-x: 10px

$navbar-light-color: lighten($light-pale-tan, 10%)
$navbar-light-active-color: white
$navbar-light-active-bg: darken($dark-green, 7.5%)
$navbar-light-hover-color: $orange-yellow
$navbar-light-hover-bg: $dark-green
$navbar-light-toggler-border-color: $light-pale-tan
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$light-pale-tan}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

$nav-pills-link-active-bg: $dark-green

$table-bg: lighten($light-pale-tan, 12.5%)
$table-accent-bg: $pale-tan-accent

$input-color: #333

$hr-border: #C0C0C0

$breadcrumb-padding-y: 0.2rem
$breadcrumb-bg: $pale-tan-accent

@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/bootstrap"

/** Fonts **/
@font-face
  font-family: 'Poor Richard'
  font-style: normal
  font-weight: 400
  src: local('Poor Richard'), url('./static/fonts/PoorRichard.ttf') format('truetype')

/* Set the Site Title to the stylized serif font */
div#site-title h1.media-heading
  font-family: 'Poor Richard', 'Glass Antiqua', Helvetica, Arial, sans-serif
  font-weight: normal

/* Set Header & Nav text to a Serif font */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #category-navbar, legend, .nav-pills
  font-family: 'Crimson Text', Georgia, serif
  font-weight: 600


/** Site Layout **/
/* Set our background image */
body
  background-color: $body-color
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('./static/img/sese_background.jpg')
  background-attachment: fixed
  background-size: contain

/* Set the background color of the body content */
body > div.container
  background: $body-bg

#site-header
  /* Set logo height & spacing */
  #site-logo
    height: $logo-height - 10px
    margin-top: 5px
    margin-bottom: 5px
    +media-breakpoint-only(xs)
      height: calc(#{$logo-height / 3} - 10px)
    +media-breakpoint-only(sm)
      height: calc(#{$logo-height / 2} - 10px)

  /* Don't color or decorate the site title link */
  #site-title
    a, a:hover
      color: $body-color
      text-decoration: none
      +media-breakpoint-only(xs)
        font-size: 1.5rem
      +media-breakpoint-between(sm, md)
        font-size: 2rem
    +media-breakpoint-down(sm)
      flex: initial

  /* Style the Quick Links */
  #quick-links
    font-size: 0.9rem
    a
      border-style: solid
      border-width: 0 1px 1px
      border-radius: 0 0 0.3rem 0.3rem
      border-color: $gray-900
      background-color: $pale-tan-accent
      color: $gray-900
      &:active, &:hover
        color: $gray-900
        text-decoration: none
        background-color: darken($pale-tan-accent, 10%)


#navigation
  /* Decrease Spacing & Close Gap Below Navbar */
  padding-bottom: 10px
  /* Round the Corners of the Navbar */
  nav
    border-radius: 4px
    +media-breakpoint-down(sm)
      padding-top: 0.25rem
      padding-bottom: 0.25rem
  /* Color the mobile navbar buttons */
  .navbar-toggler
    color: $light-pale-tan
  #category-navbar
    font-size: 1.3rem
    &, .dropdown-menu
      /* De-emphasize */
      font-weight: normal
    /* Space Out Navbar Links */
    .nav-link
      padding: 0.75rem 1rem
    /* Darken the Background of Active Nav Items */
    .active
      background-color: $navbar-light-active-bg
    .dropdown-menu
      /* Increase font size */
      font-size: 1.2rem
      /* Remove corner rounding from top corners */
      border-top-left-radius: 0
      border-top-right-radius: 0

      /* Highlight a hovered or clicked item */
      a:hover, a:active
        color: white
        background-color: $navbar-light-hover-bg
      /* Highlight an active item */
      a.active
        color: black
        background-color: $pale-tan-accent

  /* Properly space multi-column Nav dropdown menus */
  .multi-column-dropdown
    .dropdown-item
      padding: 0.25rem 1.5rem
      width: auto
    +media-breakpoint-up(md)
      min-width: 650px
  /* Hide search menu on non-mobile screens */
  #search-navbar
    +media-breakpoint-up(md)
      display: none !important
  /* Make the mobile navbar take the entire content width */
  +media-breakpoint-down(sm)
    padding-left: 0
    padding-right: 0
    nav
      border-radius: 0

#breadcrumbs
  padding-bottom: 0.5rem
  +media-breakpoint-up(md)
    padding-bottom: 1rem

#sidebar
  .nav-pills
    font-size: 1.1em
  .icon-legend
    a
      img
        height: 1.25rem
      &, &:hover, &:active
        /* Don't differentiate the active & hover states from the normal state */
        color: $body-color
        text-decoration: none
      &:hover, &:active
        /* Color the backgorund on hover instead */
        background-color: $pale-tan-accent
  .newsletter
    /* Match breadcrumb & striped table color */
    .card-header
      background-color: $pale-tan-accent
    /* Reduce padding inside of card */
    .card-body
      padding: 0.75rem

/* The entire footer background should match the color of the table stripes */
#footer
  padding: 0
  footer
    padding: 0 15px
    background-color:  $light-pale-tan


/** General Elements **/

.add-to-cart-form
  /* Ensure there's enough space for 2-digit quantities */
  .add-to-cart-group
    width: 7.4rem
  .variant-select
    /* Ensure there's enough space for the Select input's text */
    width: 8rem
    /* Center the text of the selected item */
    text-align-last: center
  /* Increase size of Out of Stock / Limited Availability badges */
  .badge
    font-size: 90%
    margin-bottom: 0.25rem

/* Reduce Space Between Horizontal Form Labels & Optional Text */
.horizontal-optional-text
  margin-top: -0.3rem

/* Styled buttons should have Pointer cursors */
.btn
  cursor: pointer

/* Fix spacing of Lot Sizes appended to Product Names */
.product-name-lotsize
  div, p
    margin-bottom: 0
    &:hover
      text-decoration: none


/** Product Details **/

/* Fix spacing & display of markdown titles */
h1.product-details-title > div
  &, & > p
    margin-bottom: 0
    display: inline-block

.product-details
  /* Don't color the Category links */
  .product-category h3 a
    &, &:hover, &:active
      color: $body-color
  /* Reduce size of Add-To-Cart inputs */
  .variant-select
    width: 8rem
    text-align-last: center


/** Category Details **/

.products-table
  /* Don't color the Product links */
  a
    &, &:hover, &:active
      color: $body-color
      text-decoration: none
  /* Reduce height of attribute icons */
  h3 img
    height: 1.25rem
  /* Restrict width of product image column */
  .row-product-image img
    max-width: 100px
  /* Fix spacing of markdown titles */
  .row-product-description h3 a > span > div
    &, & > p
      margin-bottom: 0
      display: inline-block


/** Advanced Search **/

.advanced-search
  .filters
    img
      height: 1.2em
      margin-right: 0.25rem
      margin-bottom: 0.2rem


/** Cart Details **/

.cart-table
  /* Limit Column Widths */
  .cart-product-image
    width: 3.25rem
  .cart-quantity
    width: 3.9rem
  .btn-link.text-danger
    +hover-focus
      color: darken($danger, 10%) !important

.cart-mobile-products
  .cart-mobile-product
    border-bottom: 1px solid $gray-300

/* Expand Buttons on Mobile Screens */
.cart-buttons .btn
  +media-breakpoint-down(sm)
    display: block
    width: 100%
    margin-bottom: 1rem



/** Quick Order **/

.quick-order-table
  width: auto
  margin: 1rem auto

  td.quantity
    width: 3.9rem
  td.item-number
    width: 14rem


/** Checkout **/

.checkout-products-table
  img
    width: 3.25rem

tr.total-row-coupon-input
  .form-group
    margin-bottom: 0
    input
      max-width: 10rem
  td
    vertical-align: middle

tr.checkout-coupon-line
  td
    vertical-align: middle
