/* @import "tailwindcss" source("../../src*.{elm,js}"); */
@import "tailwindcss" source("../../src") prefix(tw);

input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

.static-page a {
    @apply tw:text-[rgba(52,195,171,1)] tw:hover:text-[rgba(52,195,171,1)] tw:hover:underline;
}

.clickable-image {
    @apply tw:hover:brightness-80 tw:transition-all;
}